@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --color-primary: #F5A623;
  --color-secondary: #FFD54F;
  --color-neutral-light: #F5F5F5;
  --color-support: #FF8A80;
  --color-neutral-medium: #E0E0E0;
  --color-neutral-dark: #424242;
}

/** Estilização do Checkbox da tela de cadastro */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="checkbox"]:checked {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="checkboxForm" width="19" height="19" fill="black"><path d="M5.6 7.6l3.2 3.2 6.4-6.4 1.6 1.6-8 8-4.8-4.8z"/></svg>')
    center/contain no-repeat;
}
/* */

h1,
h2,
h3,
h4,
button {
  font-weight: 600;
}
h5,
p {
  font-weight: 400;
}
/* .h1{

}
.h2{

}
.h3{

}
.h4{

}
.h5{

}
.p{

} */

/* Fim Estilização de fonte, escala e peso */

/* .swiper {
  @apply !static;
}
.swiper-button-next, .swiper-button-prev {
  @apply bg-amarelo-medio-g !w-[52px] !h-[52px] !rounded-[50%]
}

.swiper-button-next::after {
  @apply text-branco !text-xl
}

.swiper-button-prev::after {
  @apply text-branco !text-xl
}

.swiper-button-next {
  @apply !absolute mb:!top-[130px] !right-[-5px] mn:!right-[-14px] sm:!right-[-18px] md:!right-[-28px] lg:!right-[-40px] xl:!right-[-52px] 2xl:!right-[-58px]
}

.swiper-button-prev {
  @apply !absolute !top-[140px] !left-[-55px] !z-[99] !hidden;
} */

/* .swiper-wrapper {
  @apply pl-[4rem] !pr-[10rem]
} */